
<div>
  <a href="/dashboard" class="btn btn-outline-primary"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <input name="post-title" type="text" value="{{post.title}}" />
      <input class="form-control" placeholder="" id="floatingTextarea" type="text" value="{{post.content}}" name="content">
     
    </div>
    <div>
      {{post.like_count}} {{  post.like_count}} by you on {{format_date post.created_at}}
      |
      <a href="/post/{{post.id}}">{{post.comments.length}} </a>
    </div>
    <button type="submit" class="btn btn-outline-success">Update post</button>
    <button type="button" class="delete-post-btn btn-outline-danger">Delete post</button>
  </form>
</div>


{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>